.title{
    font-size: xx-large;
    padding: 1rem 0;
}
.pageButtons{
    padding: 16px;
    text-align: end;
    Button{
        background-color: #ddd;
        color: black;
        &:hover{
            background-color: #bbb;
        }
    }
}

.filterCont{
    padding: 0 16px;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.notFound{
    margin-top: 3rem;
}